[submodule "external/zip"]
	path = external/zip
	url = https://github.com/kuba--/zip
[submodule "external/utfcpp"]
	path = external/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "external/glaze"]
	path = external/glaze
	url = https://github.com/stephenberry/glaze
[submodule "external/pthash"]
	path = external/pthash
	url = https://github.com/jermp/pthash.git
